<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Melbourne Sentiment</title>
  </head>

  <header>
      <h1>Melbourne Sentiment Map</h1>
  </header>

  <main>
    <!-- button onclick="myFunction()">Click me</button -->

    <form action="" method='POST' name="form">
      {{ form.csrt_token }}
      {{ form.start.label }} {{ form.start(class='datepicker') }} {{ form.hidden_tag() }}
      {{ form.end.label }} {{ form.end(class='datepicker') }} {{ form.hidden_tag() }}
      <p>
        {{ form.submit() }}
      </p>
    </form>

    <div style= "width:1260px;">
        {{map|safe}}
    </div>
  </main>

  <footer>
    <p>Copyright ©2022 - Created by Matteo, Emmanuel, James, Kranthi, Thanadol</p>
  </footer>
  
</html>
